<form (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label for="text">Hour</label>
    <input
      type="text"
      id="hour"
      name="hour"
      [(ngModel)]="hour"
      placeholder="Enter the hour"
    />
  </div>
  <div class="form-control">
    <label for="text">Tasks</label>
    <input
      type="text"
      id="newTask"
      name="newTask"
      [(ngModel)]="name"
      placeholder="Enter your tasks"
    />
  </div>
  <div class="form-control">
    <label for="reminder"
      >Reminder
      <a href="http://" target="_blank" rel="noopener noreferrer"></a>
    </label>
    <input
      type="checkbox"
      id="reminder"
      name="reminder"
      [(ngModel)]="reminder"
    />
  </div>
  {{ name }}
  <div class="myButton">
    <input type="submit" value="Add task" class="btn" />
  </div>
</form>
